Repository bcgov/fams3, pull requests merged in 2019-11, with the labels that each got.

#51 Feature/dynamics gateway
  .env.template
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  openshift/templates/dynamics-adapter.dc.yaml
Labels: DevOps, Dynamics Adapter

#62 notify dynadapater (provider search status)
  README.md
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakeProviderProfile.cs
  app/SearchApi/SearchApi.Core/Adapters/Models/ProviderSearchEventStatus.cs
  app/SearchApi/SearchApi.Web.Test/Configuration/SearchApiOptionsTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierMatchFoundTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/MatchFoundConsumerTest.cs
  app/SearchApi/SearchApi.Web/Configuration/SearchApiOptions.cs
  app/SearchApi/SearchApi.Web/Mapping/MappingProfile.cs
  app/SearchApi/SearchApi.Web/Notifications/ISearchApiNotifier.cs
  app/SearchApi/SearchApi.Web/Notifications/ServiceCollectionExtensions.cs
  app/SearchApi/SearchApi.Web/Notifications/URLHelper.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierMatchFound.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchStatus.cs
  app/SearchApi/SearchApi.Web/Search/MatchFoundConsumer.cs
  app/SearchApi/SearchApi.Web/Search/PersonSearchAcceptedConsumer.cs
  app/SearchApi/SearchApi.Web/SearchApi.Web.csproj
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  docker-compose.yml
Labels: Search Api

#69 Feature/notify search status
  app/SearchApi/SearchAdapter.ICBC.Test/SearchRequest/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.ICBC/SearchRequest/MatchFound/IcbcMatchFoundBuilder.cs
  app/SearchApi/SearchAdapter.ICBC/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakeMatchFound.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonFound.cs
  app/SearchApi/SearchApi.Core/Adapters/Models/ProviderSearchEventStatus.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierPersonFoundTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonFoundConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchAcceptedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Notifications/ServiceCollectionExtensions.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierResultStatus.cs
  app/SearchApi/SearchApi.Web/Search/PersonFoundConsumer.cs
  app/SearchApi/SearchApi.Web/Search/PersonSearchAcceptedConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Search Api

#70 Feature/refactor consumer event
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAdapeterEvent.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchAdapterEvent.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchFailed.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchRejected.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierPersonFoundTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonFoundConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchAcceptedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Notifications/ISearchApiNotifier.cs
  app/SearchApi/SearchApi.Web/Notifications/ServiceCollectionExtensions.cs
  app/SearchApi/SearchApi.Web/Notifications/URLHelper.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchStatus.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Search/PersonFoundConsumer.cs
  app/SearchApi/SearchApi.Web/Search/PersonSearchAcceptedConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Search Api

#73 add person search completed consumer and unit test
  README.md
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchCompleted.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchCompletedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Search Api

#74 Feature/798 notify search rejected
  README.md
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchRejected.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchRejectedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Search Api

#76 feature/notify search failed
  README.md
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFailed.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchFailedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Search Api

#80 Feature/825 process failed search
  README.md
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchAccepted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchFailed.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchRejected.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchStatus.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderSearchEventStatus.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestAutoMapperProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiEvent/SSG_SearchApiEvent.cs
Labels: Dynamics Adapter

#82 process search rejected
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchRejected.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFailed.cs
  app/SearchApi/SearchApi.Core/Adapters/Contracts/PersonSearchFailed.cs
  app/SearchApi/SearchApi.Core/Adapters/Middleware/PersonSearchObserver.cs
  app/SearchApi/SearchApi.Core/Adapters/Models/DefaultPersonSearchFailed.cs
Labels: Dynamics Adapter, Search Api

#83 Renaming ICBC Adapter
  README.md
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/SearchApi/SearchAdapter.ICBC.Test/SearchRequest/MatchFound/IcbcMatchFoundBuilderTest.cs
  app/SearchApi/SearchAdapter.ICBC.Test/SearchRequest/MatchFound/IcbcPersonBuilderTest.cs
  app/SearchApi/SearchAdapter.ICBC/SearchRequest/MatchFound/IcbcMatchFoundBuilder.cs
  app/SearchApi/SearchAdapter.ICBC/SearchRequest/MatchFound/IcbcPersonBuilder.cs
  app/SearchApi/SearchAdapter.ICBC/SearchRequest/PersonSearchRejectedEvent.cs
  app/SearchApi/SearchAdapter.Sample.Test/PersonSearchValidatorTest.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchAdapter.Sample.Test.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/Program.cs
  app/SearchApi/SearchAdapter.Sample/SearchAdapter.Sample.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchValidator.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.Development.json
  app/SearchApi/SearchAdapter.Sample/appsettings.json
  app/SearchApi/SearchApi.Core.Test/Adapters/Configuration/ProviderProfileOptionsTest.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/ProviderProfilePublishFilterTest.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakeProviderProfile.cs
  app/SearchApi/SearchApi.sln
  docker-compose.yml
  openshift/.pipeline/Jenkinsfile
Labels: Dynamics Adapter, Search Api, do not merge, help wanted
