Repository bcgov/fams3, pull requests merged in 2019-12, with the labels that each got.

#92 updated search even status messages
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestAutoMapperProfile.cs
Labels: Dynamics Adapter

#99 CICD: Add .NET deployments to test
  openshift/.pipeline/Jenkinsfile
  openshift/templates/rabbitmq.dc.yaml
Labels: DevOps

#102 self registering search api core
  app/SearchApi/SearchAdapter.Sample.Test/SearchAdapter.Sample.Test.csproj
  app/SearchApi/SearchAdapter.Sample/SearchAdapter.Sample.csproj
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Core.Test/Registrations/ServiceCollectionsExtensionsTest.cs
  app/SearchApi/SearchApi.Core.Test/SearchApi.Core.Test.csproj
  app/SearchApi/SearchApi.Core/Registrations/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchApi.Core/SearchApi.Core.csproj
Labels: Search Api

#104 implement search core lib on sample adapter
  README.md
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
  app/SearchApi/SearchApi.Core.Test/SearchApi.Core.Test.csproj
  app/SearchApi/SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
Labels: Search Api

#106 Deploy ICBC adapter to Openshift
  openshift/.pipeline/Jenkinsfile
Labels: DevOps

#111 Feature/942 add phone no searchrequest
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/StatusReasonHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Phone.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/CanadianProvinceType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IdentificationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/LocationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TelephoneNumberType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
Labels: Dynamics Adapter

#112 Phone Number add to result
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TelephoneNumberType.cs
  app/SearchApi/SearchAdapter.Sample.Test/PersonSearchValidatorTest.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePerson.cs
  app/SearchApi/SearchApi.Core/Person/Contracts/Person.cs
  app/SearchApi/SearchApi.Core/Person/Contracts/PersonalPhoneNumber.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#119 options set for name
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IdentificationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonNameCategory.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Person/Enums/PersonalIdentifierType.cs
Labels: Dynamics Adapter, Search Api

#122 attach supplied by to result
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Person/Contracts/PersonalIdentifier.cs
Labels: Dynamics Adapter, Search Api

#123 Pull Packages from Artifactory in build
  .gitignore
  .s2i/bin/assemble.sh
  openshift/docker-images/dotnet-3.0/Dockerfile
  openshift/templates/dynamics-adapter.bc.yaml
  openshift/templates/dynamics-adapter.dc.yaml
  openshift/templates/icbc-rest-adapter.bc.yaml
  openshift/templates/sample-adapter.bc.yaml
  openshift/templates/search-api.bc.yaml
Labels: DevOps
