Repository bcgov/fams3, pull requests merged in 2020-09, with the labels that each got.

#374 fix the bug in updating identifier and person
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
Labels: Dynamics Adapter, Search Api

#375 refactor: updating only changed fields
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/IUpdatableObjectTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Contructors.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Employment_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Identifier_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_RelatedPerson_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Update/IUpdatableObjectTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Fams3Adapter.Dynamics.csproj
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Update/CompareOnlyNumberAttribute.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Update/IUpdatableObject.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Update/UpdateIgnoreAttribute.cs
  app/SearchApi/BcGov.Fams3.Utils.Test/ObjectExtensionsTest.cs
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/Object/IUpdatableObject.cs
  app/SearchApi/BcGov.Fams3.Utils/Object/IUpdatableObjectExtensions.cs
Labels: Dynamics Adapter, Search Api

#376 make cancel working
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#377 add nosniff http header to all httpresponse
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Dynamics Adapter, Search Api

#378 2133 issues improvement - https://justice.gov.bc.ca/jira/browse/FAMS3-2133
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Contructors.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Dynamics Adapter, Search Api

#379 fix sonar bugs and update unit tests.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Dynamics Adapter, Search Api

#380 mapping lalw
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonRelationType.cs
Labels: Dynamics Adapter

#381 Feature/submit to queue
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/ApiGateway/ApiGatewayHandlerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/ApiGateway/ApiGatewayHandler.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#382 Fix/check sr status before update.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
Labels: Dynamics Adapter

#383 FAMS3-2679
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
Labels: Dynamics Adapter

#384 Deep Search Config
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/SearchApi.Web.Test/Configuration/DeepSearchOptionsTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/RegistryTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/Schema/WaveMetaDataTest.cs
  app/SearchApi/SearchApi.Web.Test/KeysTest.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web/Configuration/DeepSearchOptions.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Schema/WaveMetaData.cs
  app/SearchApi/SearchApi.Web/Keys.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Search Api

#385 unit tests update and cancel reason
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Keys.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#386 Feature/2690(add applicant person to PersonSearchRequest)
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Dynamics Adapter, Search Api

#387 Feature/response/endpoint : for dynamics to return closed SR.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/StartupTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchResponseReady.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SSG_SearchRequestResponse.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
Labels: Dynamics Adapter

#388 initiate and finalize wave
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/Configuration/RedisConfigurationTest.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/DependencyInjection/ServiceCollectionExtensionsTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/Configuration/RedisConfiguration.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchFinalized.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFinalized.cs
  app/SearchApi/SearchApi.Web.Test/Configuration/DeepSearchOptionsTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/Schema/WaveMetaDataTest.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/DataPartnerStoreExtensionTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchCompletedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchRejectedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/SearchApi.Web.Test.csproj
  app/SearchApi/SearchApi.Web/Configuration/DeepSearchOptions.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Schema/WaveSearchData .cs
  app/SearchApi/SearchApi.Web/Keys.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/Notifications/PersonSearchFinalizedEvent.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  docker-compose.yml
Labels: Dynamics Adapter, Search Api

#389 Feature/response/mapping
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchResponseReady.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/CompensationClaim/SSG_Asset_WorkSafeBcClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_EmploymentContact.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Investment/SSG_Asset_Investment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Pension/SSG_Asset_PensionDisablility.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RealEstate/SSG_Asset_RealEstateProperty.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SafetyConcern/SSG_SafetyConcernDetail.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SSG_SearchRequestResponse.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/BankAccountType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/EmploymentStatusType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IncomeAssistanceClassType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SelfEmploymentCompanyRoleType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SelfEmploymentCompanyType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Vehicle/SSG_Asset_Vehicle.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/BankInfo.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/CompensationClaim.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/InsuranceClaim.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Investment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/InvolvedParty.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Note.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Pension.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalInfo.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Phone.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/RealEstateProperty.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/RelatedPerson.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/ResponsePerson.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/SafetyConcern.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Vehicle.cs
Labels: Dynamics Adapter, Search Api

#390 Feature/send notification to search api
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyResponseControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyResponseServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyValidationTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Configuration/AgencyNotificationOptions.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestNotification.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchResponseReady.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Validation/AgencyValidation.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Webhook/AgencyNotificationWebhook.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchResponse/SearchResponseServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestResponseConsumer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestNotification.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/Url/URLHelper.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/Models/Notification.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/NotificationController.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestNotificationEvent.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Dynamics Adapter, Search Api
