Repository bcgov/fams3, pull requests merged in 2020-04, with the labels that each got.

#223 fix nswag version
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/nswag.json
Labels: Dynamics Adapter

#226 remove space
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
Labels: Search Api

#227 Refactor/searchapi data provider
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
Labels: Dynamics Adapter, Search Api

#229 Bug/dynamics not show bc hydro
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter

#230 contract update: complete event accept multi persons for each request.
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchCompleted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
Labels: Breaking Change, Search Api

#231 mark request completed
  app/DynamicsAdapter/Dockerfile
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/Dockerfile
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/DataPartnerStoreExtensionTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchCompletedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchRejectedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Keys.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Dynamics Adapter, Search Api

#232 Feature/multi persons
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
Labels: Dynamics Adapter

#233 use password for redis
  app/SearchApi/BcGov.Fams3.Redis/Configuration/RedisConfiguration.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  docker-compose.yml
Labels: Breaking Change, Search Api

#234 add configuration for social development
  openshift/templates/mhsd-rest-adapter.dc.yaml
  openshift/templates/mhsd-web-adapter.bc.yaml
Labels: DevOps

#235 update mhsd as supplied by
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/Models/ProviderProfileExtensionTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter

#237 fix employment upload issue from msdpr
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
Labels: Dynamics Adapter

#239 Remove Mapping for MHSD [DynAdapter]
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/Models/ProviderProfileExtensionTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter

#238 Devops
  openshift/templates/redis/README.md
  openshift/templates/redis/redis-persistent-commander.dc.yaml
  openshift/templates/redis/redis-persistent.dc.yaml
Labels: DevOps

#240 Added sonarqube-postgresql-template.yaml
  openshift/templates/sonarqube-postgresql-template.yaml
Labels: DevOps

#242 Add fileId to searchApi
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchOrdered.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#243 pull fileID from dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#244 Devops secrets
  openshift/templates/config/aspnet-env.yaml
  openshift/templates/config/jeager-config.yaml
  openshift/templates/config/rabbit-mq-configuration.yaml
  openshift/templates/config/rest-config.yaml
  openshift/templates/config/searchapi-webhook-config.yaml
  openshift/templates/config/web-adapter-config.yaml
Labels: DevOps

#245 Devops secrets
  openshift/templates/config/dynadapter-config.yaml
  openshift/templates/config/redis-connection.yaml
Labels: DevOps

#246 Devops sonarscan
  openshift/docker-images/sonarqube-dotnet/Dockerfile
  openshift/templates/jenkins-slave-sonarqube-dotnet.yaml
Labels: DevOps

#247 Devops sonarscan
  .gitignore
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/DynamicsAdapter.Web.Test.csproj
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Fams3Adapter.Dynamics.Test.csproj
  app/SearchApi/BcGov.Fams3.Redis.Test/BcGov.Fams3.Redis.Test.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchAdapter.Sample.Test.csproj
  app/SearchApi/SearchApi.Core.Test/SearchApi.Core.Test.csproj
  app/SearchApi/SearchApi.Web.Test/SearchApi.Web.Test.csproj
Labels: Dynamics Adapter, Search Api

#248 add open api to dynadapter
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
Labels: Dynamics Adapter

#250 update ssg
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
Labels: Dynamics Adapter

#249 add fileID to log in Request Sending work flow.
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Dynamics Adapter, Search Api
