Repository bcgov/fams3, pull requests merged in 2020-05, with the labels that each got.

#251 Add pipelines
  openshift/templates/pipelines/bchydro-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/bchydro-web-adapter-pipeline.yaml
  openshift/templates/pipelines/dynadapter-pipeline.yaml
  openshift/templates/pipelines/icbc-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/icbc-web-adapter-pipeline.yaml
  openshift/templates/pipelines/mhsd-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/mhsd-web-adapter-pipeline.yaml
  openshift/templates/pipelines/search-api-pipeline.yaml
Labels: DevOps

#253 searchApi - bankInfo contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/BankInfo.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#254 Feature/dynadapter/bank info
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#255 add fileId to all event.
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchOrdered.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/PersonSearchObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchAccepted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchFailed.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAdapeterEvent.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFailed.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchRejected.cs
Labels: Search Api

#256 Devops zapscan
  app/DynamicsAdapter/zap/default.context
  app/DynamicsAdapter/zap/options.conf
  app/SearchApi/zap/default.context
  app/SearchApi/zap/options.conf
  openshift/templates/jenkins-slave-zap.yaml
Labels: DevOps, Dynamics Adapter, Search Api

#257 add FileId to log
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
Labels: Search Api

#259 Feature/search api/vehicle contract definition
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/AssetOwner.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Vehicle.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#260 Feature/dynadapter/vehicle upload vehicle info to dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/AssetOwner/SSG_AssetOwner.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Vehicle/SSG_Asset_Vehicle.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#261 otherasset contract and clean up unused using
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/AssetOwner.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/BankInfo.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/OtherAsset.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifier.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalInfo.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Phone.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/ReferenceDate.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Vehicle.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchFinalized.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/ProviderProfile.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Configuration/ProviderProfileOptions.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#262 dynadapter uploads other asset to dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/AssetOwner/SSG_AssetOwner.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/OtherAsset/SSG_Asset_Other.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.json
Labels: Dynamics Adapter, Search Api

#264 compensation claim contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/CompensationClaim.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#265 Devops splunk
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/SearchApi.Web.csproj
  app/SearchApi/SearchApi.Web/appsettings.json
  openshift/templates/config/splunk-config.yaml
Labels: DevOps, Dynamics Adapter, Search Api

#263 Devops templates
  openshift/README.md
  openshift/templates/applications/deployments/deployment-config.yaml
  openshift/templates/applications/deployments/dynadapter.yaml
  openshift/templates/applications/deployments/rest-adapter.yaml
  openshift/templates/applications/deployments/search-api.yaml
  openshift/templates/applications/deployments/web-adapter.yaml
  openshift/templates/applications/routes/dynadapter.yaml
  openshift/templates/applications/routes/rest-adapter.yaml
  openshift/templates/applications/routes/search-api.yaml
  openshift/templates/applications/routes/service-route.yaml
  openshift/templates/applications/routes/web-adapter.yaml
  openshift/templates/applications/services/dynadapter.yaml
  openshift/templates/applications/services/rest-adapter.yaml
  openshift/templates/applications/services/search-api.yaml
  openshift/templates/applications/services/web-adapter.yaml
  openshift/templates/builds/builds/dynadapter.yaml
  openshift/templates/builds/builds/rest-adapter.yaml
  openshift/templates/builds/builds/search-api.yaml
  openshift/templates/builds/builds/web-adapter.yaml
  openshift/templates/builds/images/generic.yaml
  openshift/templates/builds/images/rest-adapter.yaml
  openshift/templates/builds/images/web-adapter.yaml
  openshift/templates/builds/pipelines/dynadapter-scans.yaml
  openshift/templates/builds/pipelines/dynadapter.yaml
  openshift/templates/builds/pipelines/rest-adapter.yaml
  openshift/templates/builds/pipelines/search-api-scans.yaml
  openshift/templates/builds/pipelines/search-api.yaml
  openshift/templates/builds/pipelines/web-adapter.yaml
  openshift/templates/builds/pipelines/web-rest-adapters-scans.yaml
  openshift/templates/config/dynamics-oauth-credentials.yaml
  openshift/templates/config/fams3-github-key.yaml
  openshift/templates/jenkins-slave-dotnet.yaml
  openshift/templates/pipelines/bchydro-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/dynadapter-pipeline.yaml
  openshift/templates/pipelines/icbc-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/mhsd-rest-adapter-pipeline.yaml
  openshift/templates/pipelines/search-api-pipeline.yaml
  openshift/templates/redis/redis-persistent-commander.dc.yaml
  openshift/templates/redis/redis-persistent.dc.yaml
  openshift/templates/sonarqube-postgresql.yaml
Labels: DevOps

#266 Devops splunk
  openshift/README.md
  openshift/templates/applications/deployments/dynadapter.yaml
  openshift/templates/applications/deployments/search-api.yaml
  openshift/templates/applications/deployments/web-adapter.yaml
Labels: DevOps

#268 Adding data partner env variable for splunk
  openshift/templates/applications/deployments/rest-adapter.yaml
  openshift/templates/applications/deployments/web-adapter.yaml
Labels: DevOps

#267 insurance contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/AssetOwner.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/ClaimCentre.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/InsuranceClaim.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/InvolvedParty.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/OtherAsset.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Vehicle.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#269 package version updated
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#271 update
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#270 Create CompensationClaim in Dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/CompensationClaim/SSG_Asset_WorkSafeBcClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#273 change assetOwner to InvolvedParty-dyadapter
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
Labels: Dynamics Adapter

#274 Feature/compensation employer upload to dynamics
  .github/workflows/label.yml
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/CompensationClaim/SSG_Asset_WorkSafeBcClaim.cs
Labels: Dynamics Adapter

#277 Feature/insurance to dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchFailed.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchFinalized.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_InvolvedParty.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_SimplePhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#278 tech debt iteration 1
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Auth/OAuthHandler.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Auth/TokenService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Configuration/SchedulerConfiguration.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchAccepted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchRejected.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchStatus.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_CountrySubdivision.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_EmploymentContact.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Guard.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_InvolvedParty.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiEvent/SSG_SearchApiEvent.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/CanadianProvinceType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/LocationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/NullableBooleanType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonRelationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TelephoneNumberType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Vehicle/SSG_Asset_Vehicle.cs
Labels: Dynamics Adapter

#279 tech debit fix
  app/DynamicsAdapter/DynamicsAdapter.Web/Infrastructure/SingletonJobFactory.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
Labels: Dynamics Adapter
