Repository bcgov/fams3, pull requests merged in 2020-12, with the labels that each got.

#443 Revert "add api key lib and add to RequestApi"
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/BcGov.ApiKey.Middleware.Test.csproj
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/SearchApi.sln
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Dynamics Adapter, Search Api

#444 remove key
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Search Api

#448 add apikey field for swagger and use apiKey in Dynadaptor
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/BcGov.ApiKey.Middleware/SwaggerApiKeyHeader.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Dynamics Adapter, Search Api

#449 Bug/remove could not locate
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Dynamics Adapter, Search Api

#450 add contract and update sample
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/IA/IASearchEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultIASearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BatchFactory/ConsumerBatchFactory.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchAdapter.Sample.Test/IAConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample.Test/PersonSearchValidatorTest.cs
  app/SearchApi/SearchAdapter.Sample/IA/IASearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
Labels: Search Api

#451 add for provinceCode
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchResponse/SearchResponseServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_CountrySubdivision.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
Labels: Dynamics Adapter

#453 Fix/employ dates and province code
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
Labels: Dynamics Adapter

#455 fix bug.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/DynamicsAdapter.Web.Test.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyResponseService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
Labels: Dynamics Adapter
