Repository bcgov/fams3, pull requests merged in 2020-03, with the labels that each got.

#202 Feature/redis
  app/SearchApi/BcGov.Fams3.Redis.Test/BcGov.Fams3.Redis.Test.csproj
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/Configuration/RedisConfigurationTest.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/DependencyInjection/ServiceCollectionExtensionsTest.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/UnitTest1.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/Configuration/RedisConfiguration.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollection.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/RedisConnectionFactory.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/SearchApi.Web.csproj
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  docker-compose.yml
Labels: Search Api

#204 Remove dotnet restore config file reference
  openshift/templates/icbc-web-adapter.bc.yaml
Labels: DevOps

#205 Feature/logger/redis
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/IRedisConnectionFactory.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
Labels: Search Api

#206 update json swagger for searchApiRequest dataProvider
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#207 Feature/add data provider
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
Labels: Dynamics Adapter, Search Api

#208 update contract-person
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
Labels: Search Api

#210 Feature/search api contract update
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchAdapter.Sample.Test.csproj
Labels: Search Api

#211 Featuer/update swagger dyna
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
Labels: Dynamics Adapter

#212 Sample Adapter Update
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#214 Feature/adjust mapping for dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_EmploymentContact.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#216 Feature/map other chars
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
Labels: Dynamics Adapter

#219 add otherDriverLicense and bcDriverlicesnse to contract.
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifierType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#220 dynadapter-mapping bcdl and oopdl
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IdentificationType.cs
Labels: Dynamics Adapter
