Repository bcgov/fams3, pull requests merged in 2020-08, with the labels that each got.

#356 submitted event and cancel search request
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestEvent.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestSubmitted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestStatusCode.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestEvent.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Publisher/SearchRequestEventPublisherTest.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/ProviderProfile.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestFailedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestRejectedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestSubmittedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
Labels: Dynamics Adapter, Search Api

#357 add deployment config
  docker-compose.yml
  openshift/README.md
  openshift/templates/applications/deployments/request-api.yaml
  openshift/templates/applications/routes/request-api.yaml
  openshift/templates/applications/services/request-api.yaml
  openshift/templates/builds/builds/fams-request-inbound-adapter.yaml
  openshift/templates/builds/builds/request-api.yaml
  openshift/templates/builds/pipelines/request-api.yaml
  openshift/templates/config/requestapi-webhook-config.yaml
Labels: DevOps

#358 Bug/cancel sr:
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
Labels: Dynamics Adapter

#359 FMEP OpenShift
  openshift/templates/config/agency-outbound-api-webhook-config.yaml
Labels: DevOps

#360 update sr - notes
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Notes_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Notes/SSG_Notes.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#361 Feature/change submitted event to save event
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestSaved.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestSubmitted.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/AgencyAdapter.Sample/Startup.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestNotification.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestSaved.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestSubmitted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Publisher/SearchRequestEventPublisherTest.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestSavedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
Labels: Breaking Change, Dynamics Adapter, Search Api

#362 fix wrong queue name
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
Labels: Search Api

#363 Notification API
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestNotification.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/NotificationControllerTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/Validation/NotificationValidationTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Publisher/SearchRequestEventPublisherTest.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/Models/Notification.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/Models/Validation/NotificationValidator.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/NotificationController.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestNotificationEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Search Api

#364 Feature/util/logging
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/Logger/AgencyCodeEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/DataPartnerEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/EnricherExtensions.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/RequestRefEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/SearchRequestKeyEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Program.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/SearchApi.Web.csproj
  app/SearchApi/SearchApi.sln
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/NotificationController.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Program.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestFailedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestRejectedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestSavedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Dynamics Adapter, Search Api

#365 update search request - search request entity
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#366 get list of failed searches with unit test and local testing
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
Labels: Dynamics Adapter

#368 update searchRequest from fmep: relatedPerson, person, search request, identifier etc.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Employment_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Identifier_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_RelatedPerson_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Fams3Adapter.Dynamics.csproj
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Notes/SSG_Notes.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/RelatedPersonPersonType.cs
  app/SearchApi/BcGov.Fams3.Utils.Test/BcGov.Fams3.Utils.Test.csproj
  app/SearchApi/BcGov.Fams3.Utils.Test/IUpdatableObjectExtensionsTest.cs
  app/SearchApi/BcGov.Fams3.Utils.Test/ObjectExtensionsTest.cs
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/Object/IUpdatableObject.cs
  app/SearchApi/BcGov.Fams3.Utils/Object/IUpdatableObjectExtensions.cs
  app/SearchApi/BcGov.Fams3.Utils/Object/ObjectExtensions.cs
  app/SearchApi/SearchApi.sln
  docker-compose.yml
Labels: Dynamics Adapter, Search Api

#369 add createdByAgency flag for related entities
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Contructors.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#370 update dynamics with no of failures
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/DataPartners/DataPartnerServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/DataPartnerService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
Labels: Dynamics Adapter

#371 add isValidXml and fix compiling issue
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/Logger/AgencyCodeEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/DataPartnerEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/RequestRefEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Logger/SearchRequestKeyEnricher.cs
  app/SearchApi/BcGov.Fams3.Utils/Object/IUpdatableObjectExtensions.cs
  app/SearchApi/BcGov.Fams3.Utils/String/StringExtension.cs
Labels: Search Api

#372 fix error with running local docker compose
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IdentificationType.cs
  docker-compose.yml
Labels: Dynamics Adapter

#373 Refactor/agencylocation code
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Agency/SSG_AgencyLocation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter
