Repository bcgov/fams3, pull requests merged in 2020-06, with the labels that each got.

#280 Refactor/file id format, add data partner, searchRequestJob unit tests
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/DynamicsAdapter.Web.Test.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/MockLoggerExtensions.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
Labels: Dynamics Adapter

#281 update FileId format in searchApi
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Search Api

#283 Update searchApi contract to include SourceIdentifier in the search result.
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonFound.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchCompleted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
  app/SearchApi/SearchApi.Web/Mapping/MappingProfile.cs
Labels: Search Api

#286 Feature/income assistance change
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Configuration/AppSettings.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/EmploymentRecordType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
Labels: Dynamics Adapter

#287 filter out the unique identiferes
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonFound.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
Labels: Dynamics Adapter, Search Api

#288 add inbound
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchReceived.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchResultConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/SearchResult/SearchResultConsumer.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.json
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#289 add register which save the filtered search api request into cache
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/RegisterFailedException.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/DynamicsAdapter.sln
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
Labels: Dynamics Adapter, Search Api

#290 Feature/upload transaction-make all related entity returns ID
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/CompensationClaim/SSG_Asset_WorkSafeBcClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#291 Devops selenium
  openshift/README.md
  openshift/docker-images/selenium-maven/Dockerfile
  openshift/templates/builds/pipelines/web-rest-adapters-scans.yaml
  openshift/templates/config/selenium-maven-config.yaml
  openshift/templates/jenkins-slave-selenium-maven.yaml
Labels: DevOps

#292 get matched ssg_identifier from cache.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
Labels: Dynamics Adapter

#293 Feature/upload transaction
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#296 Refactor/cleanup
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Configuration/AppSettingsTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/StartupTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Configuration/AppSettings.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
Labels: Dynamics Adapter

#297 fix
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
Labels: Search Api

#299 fixing spellings in dashboard and documentation
  openshift/README.md
  splunk/dashboards/fams3_ops_dashboard.xml
Labels: DevOps, Splunk

#295 Devops splunk
  .env.template
  docker-compose.yml
  splunk/Dockerfile
  splunk/init.sh
Labels: Splunk

#300 Feature/dynadapter/sequence number
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#302 deploy worksafebc
  openshift/templates/applications/deployments/rest-inbound-adapter.yaml
  openshift/templates/applications/routes/rest-inbound-adapter.yaml
  openshift/templates/applications/services/rest-inbound-adapter.yaml
  openshift/templates/builds/builds/rest-inbound-adapter.yaml
  openshift/templates/builds/images/rest-inbound-adapter.yaml
  openshift/templates/builds/pipelines/rest-inbound-adapter.yaml
  openshift/templates/config/rest-inbound-config.yaml
  openshift/templates/wsbc-rest-adapter.dc.yaml
  openshift/templates/wsbc-rest-inbound-adapter.dc.yaml
  openshift/templates/wsbc-web-adapter.bc.yaml
Labels: DevOps

#301 fix docker compose
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  docker-compose.yml
Labels: Dynamics Adapter

#304 fixing openshift pipeline bugs
  openshift/templates/applications/services/dynadapter.yaml
  openshift/templates/applications/services/search-api.yaml
  openshift/templates/builds/pipelines/dynadapter.yaml
  openshift/templates/builds/pipelines/rest-adapter.yaml
  openshift/templates/builds/pipelines/rest-inbound-adapter.yaml
  openshift/templates/builds/pipelines/search-api.yaml
  openshift/templates/builds/pipelines/web-adapter.yaml
Labels: DevOps

#306 fix broken name
  openshift/README.md
  openshift/templates/config/rest-inbound-config.yaml
Labels: DevOps

#303 Feature/search api : use "fileId_seqNo" as the searchRequestKey
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/PersonSearchObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchAccepted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchResultConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/SearchResult/SearchResultConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAdapeterEvent.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFailed.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFinalized.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchRejected.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchAcceptedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchCompletedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchFailedConsumerTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/PersonSearchRejectedConsumerTest.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/Notifications/ISearchApiNotifier.cs
  app/SearchApi/SearchApi.Web/Notifications/PersonSearchFinalizedEvent.cs
  app/SearchApi/SearchApi.Web/Notifications/URLHelper.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Breaking Change, Dynamics Adapter, Search Api

#309 Refactor/cleanup radis, make searchRequestKey works in dynadapter personSearchController.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchFinalized.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchStatus.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/DynamicsAdapter.sln
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchReceived.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchResultConsumerTest.cs
Labels: Dynamics Adapter, Search Api

#307 Adding reporting server
  openshift/README.md
  openshift/templates/builds/pipelines/dynadapter-scans.yaml
  openshift/templates/builds/pipelines/search-api-scans.yaml
  openshift/templates/builds/pipelines/web-rest-adapters-scans.yaml
  openshift/templates/static-web-server.dc.yaml
Labels: DevOps

#308 Adding follow link to curl in README
  openshift/README.md
Labels: DevOps

#310 update pipeline for mock fmep
  openshift/README.md
  openshift/templates/builds/builds/fmep-inbound-adapter.yaml
Labels: DevOps

#311 Search api/contract/received/string change recevied event payload type to be string
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchReceived.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchResultConsumerTest.cs
Labels: Search Api

#312 if sourceIdentifier is null, return null.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
Labels: Dynamics Adapter

#313 add informationSource workSafeBC and update Identificationtype for dynamics
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IdentificationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter

#314 Sonar/dynadaptor code smell clearup - part1
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/ApiGateway/ApiGatewayHandler.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Auth/OAuthApiException.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/RegisterFailedException.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_CountrySubdivision.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Guard.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Keys.cs
Labels: Dynamics Adapter

#315 Auto stash before rebase of "origin/master"
  app/DynamicsAdapter/DynamicsAdapter.Web/ApiGateway/ApiGatewayHandler.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
Labels: Dynamics Adapter

#316 reading duplicate config from dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionConfigServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionConfigService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/SSG_DuplicateDetectionConfig.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#317 add cache ignore
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
Labels: Dynamics Adapter

#318 dynAdapter when upload person data, do hash and add data to field ssg_duplicatedetectionhash.
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionConfigServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionConfigService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/SSG_DuplicateDetectionConfig.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#320 new contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchSubmitted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#321 dynadapter Upload submitted event
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchSubmitted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
Labels: Dynamics Adapter

#319 When duplicate found for person, need to get original person guid.
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Keys.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchAccepted.cs
Labels: Dynamics Adapter, Search Api
