Repository bcgov/fams3, pull requests merged in 2020-01, with the labels that each got.

#140 Adding Jaeger All-In-One-Deployment to Dev and Test, plus template files
  openshift/.pipeline/Jenkinsfile
  openshift/templates/cassandra.yaml
  openshift/templates/configmap-cassandra.yaml
  openshift/templates/jaeger-aio.dc.yaml
  openshift/templates/jaeger.dc.yaml
Labels: DevOps

#145 Artifactory Troubleshooting
  openshift/templates/dynamics-adapter.bc.yaml
  openshift/templates/icbc-rest-adapter.bc.yaml
  openshift/templates/rabbitmq.dc.yaml
  openshift/templates/sample-adapter.bc.yaml
  openshift/templates/search-api.bc.yaml
Labels: DevOps

#149 change SerialNumber to Value for PersonalIdentifier in SearchAPI and dynadapter
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifier.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#150 update contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifier.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/ReferenceDate.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#151 bug fix
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#153 update package version
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#154 dynadapter identifier mapping
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/Models/PersonRequest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
Labels: Dynamics Adapter

#156 remove the fullText from ssg_address
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
Labels: Dynamics Adapter

#158 update the version
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#159 Refact/address/class
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#161 Troubleshooting CCL Cert Errors on Artifactory build
  .s2i/bin/assemble.sh
  openshift/.pipeline/Jenkinsfile
  openshift/templates/icbc-web-adapter.bc.yaml
Labels: DevOps

#160 Refact/searchapi/contract/address
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_CountrySubdivision.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/LocationType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifier.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalInfo.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Dynamics Adapter, Search Api

#162 update contract version to 1.0.9
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#163 refactor-all interfaces under person change to class
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/Person.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Phone.cs
  app/SearchApi/SearchAdapter.Sample.Test/PersonSearchValidatorTest.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Adapters/Middleware/PersonSearchObserverTest.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePerson.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#164 update model
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Phone.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#165 library version update
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#167 person contract extended
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
Labels: Search Api

#168 core library version updated
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#169 update person model to accept nullable boolean and version updated
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#170 upload name to dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonNameCategory.cs
Labels: Dynamics Adapter

#171 map person to dynamics entity
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.sln
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/NullableBooleanType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
Labels: Dynamics Adapter

#172 Feature/add link to person dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#173 remove Employer as Dynamics remove it.
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter
