Repository bcgov/fams3, pull requests merged in 2020-10, with the labels that each got.

#391 deep search wave close
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchAdapterEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchCompleted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchSubmitted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/SearchStatus.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchAccepted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultPersonSearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAccepted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchAdapeterEvent.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompleted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFailed.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchFinalized.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchRejected.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchSubmitted.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakeProviderProfile.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/RegistryTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IdentifierComparer.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/Notifications/PersonSearchFinalizedEvent.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  docker-compose.yml
Labels: Breaking Change, Dynamics Adapter, Search Api

#392 fix retry and throttle in request api and contract with sample adapter
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Configuration/RetryConfiguration.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Keys.cs
  app/SearchApi/SearchAdapter.Sample.Test/SearchRequestConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.json
  app/SearchApi/SearchApi.Core.Test/Configuration/RetryConfigurationTest.cs
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Search Api

#393 Feature/update contract emep
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Contructors.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
Labels: Dynamics Adapter, Search Api

#394 code smell
  app/SearchApi/AgencyAdapter.Sample/Startup.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollectionExtensions.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchRequest.Adaptor/Program.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
Labels: Search Api

#395 refactor and update wave search in dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/DataPartners/DataPartnerServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DataProvider/SSG_DataProvider.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SearchSpeedType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/SearchSpeedType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/ProviderProfile.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Configuration/ProviderProfileOptions.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchApi.Core.Test/Fake/FakeProviderProfile.cs
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/Notifications/PersonSearchFinalizedEvent.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#396 check null and update wave
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Schema/WaveSearchData .cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
Labels: Dynamics Adapter, Search Api

#397 add displayName
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#398 track data partner with null and fix bug
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchCompleted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/DataPartners/DataPartnerServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchApiRequest/SearchApiRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SearchSpeedType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchApi.Web.Test/Search/DataPartnerStoreExtensionTest.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
Labels: Dynamics Adapter, Search Api

#400 Feature/search api/request contract, notification, rejected
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Exceptions/AgencyRequestException.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/RelatedPerson.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#401 add could not locate for address and employment
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
Labels: Dynamics Adapter

#403 JCA deployment
  openshift/templates/applications/deployments/file-adapter.yaml
  openshift/templates/applications/routes/file-adapter.yaml
  openshift/templates/applications/services/file-adapter.yaml
  openshift/templates/builds/builds/file-adapter.yaml
  openshift/templates/builds/images/file-adapter.yaml
  openshift/templates/builds/pipelines/file-adapter.yaml
  openshift/templates/config/file-adapter-config.yaml
Labels: DevOps

#404 update
  openshift/README.md
  openshift/templates/config/file-adapter-config.yaml
Labels: DevOps

#406 change endpoints to private
  openshift/templates/applications/routes/dynadapter.yaml
  openshift/templates/applications/routes/request-api.yaml
  openshift/templates/applications/routes/rest-adapter.yaml
  openshift/templates/applications/routes/rest-inbound-adapter.yaml
  openshift/templates/applications/routes/search-api.yaml
  openshift/templates/builds/pipelines/dynadapter.yaml
  openshift/templates/builds/pipelines/file-adapter.yaml
  openshift/templates/builds/pipelines/rest-adapter.yaml
  openshift/templates/builds/pipelines/rest-inbound-adapter.yaml
  openshift/templates/builds/pipelines/web-adapter.yaml
Labels: DevOps

#407 read if it is a prescreen sr
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Dynamics Adapter, Search Api

#408 add for prescreen sr (not use deep search)
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
Labels: Search Api

#409 update config for certs
  openshift/templates/applications/deployments/file-adapter.yaml
  openshift/templates/config/fams3-jca-private-key.yaml
Labels: DevOps

#411 Feature/contract JCA info
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/JCAPerson.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#412 update config
  openshift/templates/config/file-adapter-config.yaml
  openshift/templates/config/redis-connection.yaml
  openshift/templates/config/rest-config.yaml
  openshift/templates/config/web-adapter-config.yaml
Labels: DevOps

#413 fix daysOpen bug
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#414 config change
  openshift/templates/applications/deployments/file-adapter.yaml
Labels: DevOps

#415 config change
  openshift/templates/applications/deployments/file-adapter.yaml
Labels: DevOps

#416 Feature/caution, alias and employment contract mapping
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SafetyConcern_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SafetyConcern/SSG_SafetyConcernDetail.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SafetyConcernType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/RelatedPerson.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#417 refactor completed event to display source id
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
Labels: Dynamics Adapter

#418 fix jca
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/SearchApi/SearchApi.Web.Test/Search/DataPartnerStoreExtensionTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
Labels: Dynamics Adapter, Search Api

#419 fix jca
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Dynamics Adapter, Search Api

#421 update redis lib
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
Labels: Search Api
