Repository bcgov/fams3, pull requests merged in 2020-11, with the labels that each got.

#422 update cache delete JCA
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
Labels: Dynamics Adapter

#423 Fmep/update/accept
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#424 fix the closed ia mapping issue
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#425 finalize update
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
Labels: Dynamics Adapter

#426 fix bug-not finalized
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
Labels: Dynamics Adapter

#428 testing and fixes
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Dynamics Adapter, Search Api

#431 testing and refactor
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Search Api

#432 add log and do a fix.
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/People/PeopleController.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
Labels: Search Api

#433 add SR check on poll
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
Labels: Dynamics Adapter, Search Api

#434 fix bug-rejected, search cannot be finalized.
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Search Api

#436 fix retry config typo
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Configuration/RetryConfiguration.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchApi.Core.Test/Configuration/RetryConfigurationTest.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Search Api

#437 fix retry policy
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Keys.cs
  app/SearchApi/SearchApi.Web/SearchApi.Web.csproj
Labels: Search Api

#438 fix retry
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.json
Labels: Search Api

#439 Fix/caution flag
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SafetyConcern/SSG_SafetyConcernDetail.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#440 ia consumer
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/IA/IASearchEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/IA/IASearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/IA/IASearchOrdered.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/IA/IASearchResult.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/IASearchObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/SearchRequestObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultIASearchFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Configuration/ThrottleConfiguration.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Keys.cs
  app/SearchApi/SearchAdapter.Sample.Test/IAConsumerTest.cs
  app/SearchApi/SearchAdapter.Sample/IA/IASearchConsumer.cs
  app/SearchApi/SearchAdapter.Sample/IA/IASearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchAdapter.Sample/appsettings.json
  app/SearchApi/SearchApi.Core.Test/Configuration/ThrottleConfigurationTest.cs
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
  app/SearchApi/SearchApi.Web/appsettings.json
Labels: Search Api

#441 add api key lib and add to RequestApi
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/BcGov.ApiKey.Middleware.Test.csproj
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/SearchApi.sln
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Search Api
