Repository bcgov/fams3, pull requests merged in 2020-02, with the labels that each got.

#174 map phone to dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Name/SSG_Alias.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TelephoneNumberType.cs
Labels: Dynamics Adapter

#175 add phone to sample adapter
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#176 a bug fix for birthDatetime
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SSG_SearchApiRequest.cs
Labels: Dynamics Adapter

#178 Stability issues and fixes
  openshift/templates/dynamics-adapter.dc.yaml
  openshift/templates/icbc-rest-adapter.dc.yaml
  openshift/templates/icbc-web-adapter.bc.yaml
  openshift/templates/icbc-web-adapter.dc.yaml
  openshift/templates/openssl.cm.yaml
  openshift/templates/sample-adapter.dc.yaml
  openshift/templates/search-api.dc.yaml
  openshift/templates/sonarqube.yaml
Labels: DevOps

#179 Stability issues and fixes
  openshift/templates/icbc-web-adapter.bc.yaml
Labels: DevOps

#180 Hailmary SSL cert issue resolution attempt
  openshift/templates/icbc-web-adapter.bc.yaml
Labels: DevOps

#181 Feature/contract/related person for searchApi
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/RelatedPerson.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#182 add employment contract and unit test
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/SearchApi.Web.Test/People/PeopleControllerTest.cs
  app/SearchApi/SearchApi.Web.Test/People/PersonSearchRequestTest.cs
  app/SearchApi/SearchApi.Web/People/PersonSearchRequest.cs
Labels: Search Api

#183 update package version
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#184 update employment contract to add website and use phone entity
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
Labels: Search Api

#185 update lib version
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#186 search adapter fakes
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#187 update library and contract and fakes
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#188 Feature/map employment dynamics
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
Labels: Dynamics Adapter

#190 add related person to sample
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
Labels: Search Api

#191 map related person in dynadapter
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RelatedPerson/SSG_RelatedPerson.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/GenderType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonRelationType.cs
Labels: Dynamics Adapter

#192 save employment records in dynamics and link phones
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#189 Add step to pause on Test deployment
  openshift/.pipeline/Jenkinsfile
  openshift/templates/icbc-web-adapter.bc.yaml
  openshift/templates/icbc-web-adapter.dc.yaml
  openshift/templates/nexus3-persistent.yaml
  openshift/templates/sample-adapter.dc.yaml
  openshift/templates/search-api.dc.yaml
Labels: DevOps

#193 health check for related person
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/GenderType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
Labels: Dynamics Adapter

#195 unit test employment
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
Labels: Dynamics Adapter

#196 bug fix
  app/DynamicsAdapter/Fams3Adapter.Dynamics/OptionSets/Models/Enumeration.cs
Labels: Dynamics Adapter

#198 set up redis library
  app/SearchApi/BcGov.Fams3.Redis.Test/BcGov.Fams3.Redis.Test.csproj
  app/SearchApi/BcGov.Fams3.Redis.Test/UnitTest1.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/Configuration/RedisConfiguration.cs
  app/SearchApi/BcGov.Fams3.Redis/DependencyInjection/IServiceCollection.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/SearchApi.sln
  docker-compose.yml
Labels: Search Api

#199 ad model and update service
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.Redis/Model/SearchRequest.cs
Labels: Search Api
