Repository bcgov/fams3, pull requests merged in 2020-07, with the labels that each got.

#323 updated to new version to make submitted event inherit from PersonSearchAdapterEvent
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
Labels: Search Api

#324 Duplicate/ detect address duplication
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#325 add income assistance options
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/IncomeAssistanceStatusType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
Labels: Dynamics Adapter

#326 Add Duplicate for identifier
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#327 Devops nexus
  .github/workflows/dotnetcore.yml
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/NuGet.config
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/SearchApi.Web.Test/SearchApi.Web.Test.csproj
  openshift/templates/builds/builds/dynadapter.yaml
  openshift/templates/builds/builds/fmep-inbound-adapter.yaml
  openshift/templates/builds/builds/rest-adapter.yaml
  openshift/templates/builds/builds/rest-inbound-adapter.yaml
  openshift/templates/builds/builds/search-api.yaml
  openshift/templates/builds/builds/web-adapter.yaml
  openshift/templates/config/nexus-config.yaml
Labels: DevOps, Dynamics Adapter, Search Api

#329 Add nuget config for dotnet restore
  openshift/templates/builds/pipelines/dynadapter-scans.yaml
  openshift/templates/builds/pipelines/search-api-scans.yaml
  openshift/templates/builds/pipelines/web-rest-adapters-scans.yaml
Labels: DevOps

#330 Duplicate/get data for duplicated person
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Config/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Address_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Alias_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_AssetOwner_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Identifier_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_PhoneNumber_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Vehicle_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/AssetOwner/SSG_AssetOwner.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Config/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Vehicle/SSG_Asset_Vehicle.cs
Labels: Dynamics Adapter

#331 Duplicate/related person
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Address_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Alias_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_AssetOwner_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Identifier_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_PhoneNumber_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_RelatedPerson_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Vehicle_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/SSG_DuplicateDetectionConfig.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#332 fix issue about sourceIdentifier filtering. We should not compare issuedBy.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Register/SearchRequestRegisterTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Register/SearchRequestRegister.cs
Labels: Dynamics Adapter

#333 bug-name type null, when name entity type is null, mapping throw null exception.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
Labels: Dynamics Adapter

#335 duplicate string changed to all lower case for comparing.
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
Labels: Dynamics Adapter

#334 Cleanup
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonSearchSubmitted.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/DynamicsEntity.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Identifier/SSG_Identifier.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#336 Feature/duplicate/employment
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_EmploymentContact_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Employment_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_EmploymentContact.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TelephoneNumberType.cs
Labels: Dynamics Adapter

#337 Feature/duplicate/other asset
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_EmploymentContact_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Employment_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_OtherAsset_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Phone/SSG_PhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#338 Feature/duplicate/bank info
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_BankInfo_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#340 Feature/duplicate/compensation
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Compensation_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/CompensationClaim/SSG_Asset_WorkSafeBcClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#339 Update contract
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestOrdered.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestRejected.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestSubmitted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/SearchRequestObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultSearchRequestFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#341 contract updated with extension
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestNotification.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Core.Test/DependencyInjection/ServiceCollectionsExtensionsTest.cs
Labels: Search Api

#343 contract updated with extension
  app/SearchApi/AgencAdapter.Sample.Test/AgencAdapter.Sample.Test.csproj
  app/SearchApi/AgencAdapter.Sample.Test/MockLoggerExtensions.cs
  app/SearchApi/AgencAdapter.Sample.Test/SearchRequestPublisherTest.cs
  app/SearchApi/AgencAdapter.Sample.Test/SearchRequestResponseConsumerTest.cs
  app/SearchApi/AgencAdapter.Sample.Test/SearchRequestValidatorTest.cs
  app/SearchApi/AgencyAdapter.Sample/AgencyAdapter.Sample.csproj
  app/SearchApi/AgencyAdapter.Sample/Models/SearchRequest.cs
  app/SearchApi/AgencyAdapter.Sample/Program.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestPublisher.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestResponseConsumer.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestValidator.cs
  app/SearchApi/AgencyAdapter.Sample/Startup.cs
  app/SearchApi/AgencyAdapter.Sample/appsettings.Development.json
  app/SearchApi/AgencyAdapter.Sample/appsettings.json
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/SearchRequestObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultSearchRequestFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
  app/SearchApi/SearchApi.sln
Labels: Search Api

#342 Feature/duplicate/insurance
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Insurance_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_InvolvedParty_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SimplePhone_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_InvolvedParty.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_SimplePhoneNumber.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#344 fix build
  app/SearchApi/AgencyAdapter.Sample/AgencyAdapter.Sample.csproj
Labels: Search Api

#345 Feature/search request adaptor
  app/SearchApi/SearchApi.sln
  app/SearchApi/SearchRequestAdaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequestAdaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequestAdaptor/Notifier/ServiceCollectionExtensions.cs
  app/SearchApi/SearchRequestAdaptor/Program.cs
  app/SearchApi/SearchRequestAdaptor/SearchRequestAdaptor.csproj
  app/SearchApi/SearchRequestAdaptor/Startup.cs
  app/SearchApi/SearchRequestAdaptor/appsettings.Development.json
  app/SearchApi/SearchRequestAdaptor/appsettings.json
Labels: Search Api

#346 update contract
  app/DynamicsAdapter/Dockerfile
  app/DynamicsAdapter/NuGet.config
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestResponseConsumer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Name.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifier.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/PersonalIdentifierType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Phone.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/Dockerfile
  app/SearchApi/NuGet.config
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchApi.Web.Test/Messaging/DispatcherTest.cs
  app/SearchApi/SearchRequestAdaptor/Startup.cs
  docker-compose.yml
Labels: Dynamics Adapter, Search Api

#347 add contract
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestResponseConsumer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Middleware/SearchRequestObserver.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultSearchRequestFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#348 implement searchrequestordered consumer
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/StartupTest.cs
  app/SearchApi/SearchApi.sln
  app/SearchApi/SearchRequest.Adaptor.Test/Configuration/SearchRequestAdaptorOptionsTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Consumer/SearchRequestOrderedConsumerTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/FakeSearchRequestEvent.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Publisher/SearchRequestEventPublisherTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/SearchRequest.Adaptor.Test.csproj
  app/SearchApi/SearchRequest.Adaptor.Test/StartupTest.cs
  app/SearchApi/SearchRequest.Adaptor/Configuration/SearchRequestAdaptorOptions.cs
  app/SearchApi/SearchRequest.Adaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Keys.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/ServiceCollectionExtensions.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/URLHelper.cs
  app/SearchApi/SearchRequest.Adaptor/Program.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestFailedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestRejectedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestSubmittedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/ValidationResultData.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/SearchRequestEventPublisher.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.Development.json
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
  app/SearchApi/SearchRequestAdaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#349 Feature/add search request ordered controller - SearchRequest Mapping
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Contructors.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestEvent.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/Models/SearchRequestOrdered.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonSoughtType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/RequestPriorityType.cs
Labels: Dynamics Adapter, Search Api

#350 Update Contract
  app/SearchApi/AgencyAdapter.Sample/SearchRequest/SearchRequestEventSample.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Agency.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Adapters/Models/DefaultSearchRequestFailed.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchRequest.Adaptor.Test/FakeSearchRequestEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestFailedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestRejectedEvent.cs
  app/SearchApi/SearchRequest.Adaptor/Publisher/Models/SearchRequestSubmittedEvent.cs
Labels: Search Api

#351 update
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestEvent.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestNotification.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/SearchRequest/SearchRequestSubmitted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Search Api

#352 Feature/search request uploading
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Agency/SSG_Agency.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Agency/SSG_AgencyLocation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequestReason.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#353 bug fixing : agent email, url and cleanup
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Consumer/SearchRequestOrderedConsumerTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Dynamics Adapter, Search Api

#354 deal with duplicate phone number issue (phone number got formatted after upload)
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_EmploymentContact.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_SimplePhoneNumber.cs
Labels: Dynamics Adapter
