Repository bcgov/fams3, pull requests merged in 2021-12, with the labels that each got.

#561 Fix 3852: …
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IdentifierComparer.cs
Labels: Search Api

#562 Updated to include message body(media type) which is in the token.
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/AutoCloseSearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#563 Revert "3877 - Updated to tweak logic slightly. Added comments to cla…
  app/DynamicsAdapter/DynamicsAdapter.Web/Auth/OAuthApiClient.cs
Labels: Dynamics Adapter

#564 reverted previous change.
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/AutoCloseSearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#565 Updates to fix the broken Auto close calls
  app/DynamicsAdapter/DynamicsAdapter.Web/ApiGateway/ApiGatewayHandler.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/AutoCloseSearchRequestJob.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#566 Added state code field as Dynamics will not set status to Autoclosed …
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#567 Updated to filter out any SR which are already autoclosed.
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#568 [FAMS3-3885] Removing Unsupported ServiceType
  openshift/templates/jaeger-aio.dc.yaml
  openshift/templates/jaeger.dc.yaml
  openshift/templates/rabbitmq.dc.yaml
Labels: DevOps
