Repository bcgov/fams3, pull requests merged in 2021-02, with the labels that each got.

#472 Feature/email uploading
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Duplicate/DuplicateDetectionServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Email_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Duplicate/DuplicateDetectionService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Email/SSG_Email.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Person/SSG_Person.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/ResultTransaction/SSG_SearchRequestResultTransaction.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
Labels: Dynamics Adapter, Search Api

#474 change to 2 layer authentication
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
Labels: Search Api

#473 change to 2 layer authentication
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
Labels: Search Api

#475 update apikey lib version
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
Labels: Dynamics Adapter

#477 fix cnl issue
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Constants.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RealEstate/SSG_Asset_RealEstateProperty.cs
Labels: Dynamics Adapter

#478 Fix/cnl issue
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Constants.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/BankInfo/SSG_Asset_BankingInformation.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/RealEstate/SSG_Asset_RealEstateProperty.cs
Labels: Dynamics Adapter

#479 Refactor/api key
  app/SearchApi/AgencyAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Web/Configuration/SearchApiOptions.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  app/SearchApi/SearchRequest.Adaptor/Configuration/SearchRequestAdaptorOptions.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Search Api

#480 Refactor/api key
  app/SearchApi/AgencyAdapter.Sample/Startup.cs
  app/SearchApi/SearchApi.Web/Configuration/SearchApiOptions.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  app/SearchApi/SearchRequest.Adaptor/Configuration/SearchRequestAdaptorOptions.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/SearchRequest.Adaptor.csproj
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Search Api

#482 Refactor/keyname
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
Labels: Dynamics Adapter

#483 add more logs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Search Api

#485 add more logs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/MockLoggerExtensions.cs
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
Labels: Dynamics Adapter, Search Api

#484 add more logs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/MockLoggerExtensions.cs
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#486 log - dynadatpr
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
Labels: Dynamics Adapter

#488 In creating the sr, if it gets time out. Dyandatpor needs to system Cancel this SR
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestStatusCode.cs
Labels: Dynamics Adapter

#489 Feature/3204-request Api: when dynadatpor failed in creating SR, we need retry to re-create SR.
  app/SearchApi/SearchRequest.Adaptor.Test/Consumer/SearchRequestOrderedConsumerTest.cs
  app/SearchApi/SearchRequest.Adaptor.Test/Notifier/SearchRequestNotifierTest.cs
  app/SearchApi/SearchRequest.Adaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Search Api
