Repository bcgov/fams3, pull requests merged in 2021-06, with the labels that each got.

#539 fams-3742-stop creating employment contact records
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/SearchResultServiceTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
Labels: Dynamics Adapter

#541 add rate configuration
  app/SearchApi/SearchRequest.Adaptor/Configuration/QueueRateLimit.cs
  app/SearchApi/SearchRequest.Adaptor/Startup.cs
Labels: Search Api

#540 Fix/update racing redis
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Fams3Adapter.Dynamics.Test.csproj
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonRelationType.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/SearchApi.Web.Test/DeepSearch/IDeepSearchServiceTest.cs
  app/SearchApi/SearchApi.Web.Test/Search/DataPartnerStoreExtensionTest.cs
  app/SearchApi/SearchApi.Web/Configuration/SearchApiOptions.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchDispatcher.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Messaging/Dispatcher.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/Search/DataPartnerStoreExtension.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  app/SearchApi/SearchRequest.Adaptor/Consumer/NotificationAcknowledgedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/NotificationController.cs
Labels: Dynamics Adapter, Search Api

#542 FAMS3-3759- Improve Logging of Services
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchRequest/SearchRequestJobTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Program.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchRequest/SearchRequestJob.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchApi.Web/Program.cs
  app/SearchApi/SearchApi.Web/appsettings.json
  app/SearchApi/SearchRequest.Adaptor/Consumer/NotificationAcknowledgedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Consumer/SearchRequestOrderedConsumer.cs
  app/SearchApi/SearchRequest.Adaptor/Program.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Dynamics Adapter, Search Api

#543 Refactor/accept event
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Create_Cancel_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/SearchApi/SearchApi.Web.Test/Notifications/WebHookNotifierSearchStatusTest.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
  app/SearchApi/SearchRequest.Adaptor/Notifier/SearchRequestNotifier.cs
Labels: Dynamics Adapter, Search Api

#545 change person hash data detection - work around
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
Labels: Dynamics Adapter

#547 process SavePerson thread racing problem and update person with duplicate hash problem
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Address_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Alias_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_AssetOwner_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_BankInfo_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Compensation_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Email_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_EmploymentContact_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Employment_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Identifier_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Insurance_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_InvolvedParty_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Notes_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_OtherAsset_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Person_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_PhoneNumber_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_RelatedPerson_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SafetyConcern_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SearchRequest_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_SimplePhone_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchRequest/SearchRequestService_Vehicle_Test.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SearchRequestService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/WebRequestExceptionExtensions.cs
  app/SearchApi/SearchRequest.Adaptor/appsettings.json
Labels: Dynamics Adapter, Search Api

#550 change prefetch to be configurable
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Core/Configuration/RetryConfiguration.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/DependencyInjection/IServiceCollectionsExtensions.cs
Labels: Search Api

#552 Fix/nexus uri
  .github/workflows/dotnetcore.yml
  app/DynamicsAdapter/Dockerfile
  app/DynamicsAdapter/NuGet.config
  app/NuGet.config
  app/SearchApi/Dockerfile
  app/SearchApi/NuGet.config
  openshift/templates/builds/builds/dynadapter.yaml
  openshift/templates/builds/builds/fams-request-inbound-adapter.yaml
  openshift/templates/builds/builds/file-adapter.yaml
  openshift/templates/builds/builds/ia-search-web-adapter.yaml
  openshift/templates/builds/builds/request-api.yaml
  openshift/templates/builds/builds/rest-adapter.yaml
  openshift/templates/builds/builds/rest-inbound-adapter.yaml
  openshift/templates/builds/builds/search-api.yaml
  openshift/templates/builds/builds/web-adapter.yaml
  openshift/templates/builds/pipelines/dynadapter-scans.yaml
  openshift/templates/builds/pipelines/search-api-scans.yaml
  openshift/templates/builds/pipelines/web-rest-adapters-scans.yaml
Labels: DevOps, Dynamics Adapter, Search Api
