Repository bcgov/fams3, pull requests merged in 2021-03, with the labels that each got.

#492 add Cornet information source
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
Labels: Dynamics Adapter

#494 update on date of birth
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#495 groupID upload and contract
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#496 add expiry in redis
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
Labels: Search Api

#499 add expiry to redis savestring
  app/SearchApi/BcGov.Fams3.Redis.Test/CacheServiceTest.cs
  app/SearchApi/BcGov.Fams3.Redis/BcGov.Fams3.Redis.csproj
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
Labels: Search Api

#498 Jca/fams2 : deal with fams2 jca events
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#500 for fams2 jca: get the result from fams2 jca file
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/SearchResultService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#501 update cornet mapping
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
Labels: Dynamics Adapter

#502 to be safe,
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
Labels: Dynamics Adapter

#503 to be safe
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
Labels: Dynamics Adapter

#504 add jac Dob and gender
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#505 Fix/jca add dob and gender
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/PersonSearch/PersonSearchControllerTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchRequest/SSG_SearchRequest.cs
Labels: Dynamics Adapter

#507 Fix/make sure all pi is logged in debug level
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/SearchResult/SearchResultConsumer.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Dynamics Adapter, Search Api

#508 Fix/log pi master
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/SearchApi/BcGov.Fams3.Redis/ICacheService.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchAdapter.Sample/SearchResult/SearchResultConsumer.cs
  app/SearchApi/SearchApi.Web/DeepSearch/IDeepSearchService.cs
  app/SearchApi/SearchApi.Web/Notifications/WebHookNotifierSearchEventStatus.cs
Labels: Dynamics Adapter, Search Api

#506 Feature/health check/no apikey
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/DynamicsAdapter.Web.Test.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Health/DynamicsHealthCheckTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/DynamicsAdapter.Web.csproj
  app/DynamicsAdapter/DynamicsAdapter.Web/Health/DynamicsHealthCheck.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/Fams3Adapter.Dynamics.Test.csproj
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/OptionSets/StatusReasonServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Keys.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/OptionSets/Models/BankAccountTypeOptionSet.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/OptionSets/OptionSetService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/PersonRelationType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/TypeService.cs
  app/SearchApi/AgencAdapter.Sample.Test/AgencAdapter.Sample.Test.csproj
  app/SearchApi/BcGov.ApiKey.Middleware.Test/ApiKeyMiddlewareTest.cs
  app/SearchApi/BcGov.ApiKey.Middleware.Test/BcGov.ApiKey.Middleware.Test.csproj
  app/SearchApi/BcGov.ApiKey.Middleware/ApiKeyMiddleware.cs
  app/SearchApi/BcGov.ApiKey.Middleware/BcGov.ApiKey.Middleware.csproj
  app/SearchApi/BcGov.Fams3.Redis.Test/BcGov.Fams3.Redis.Test.csproj
  app/SearchApi/BcGov.Fams3.Utils.Test/BcGov.Fams3.Utils.Test.csproj
  app/SearchApi/SearchAdapter.Sample.Test/SearchAdapter.Sample.Test.csproj
  app/SearchApi/SearchApi.Core.Test/SearchApi.Core.Test.csproj
  app/SearchApi/SearchApi.Web.Test/SearchApi.Web.Test.csproj
  app/SearchApi/SearchRequest.Adaptor.Test/SearchRequest.Adaptor.Test.csproj
Labels: Dynamics Adapter, Search Api

#509 mapping error fix
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchApiRequest/SearchApiRequestService.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
Labels: Dynamics Adapter, Search Api

#511 fix missing names
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchRequest_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#512 when appending notes, need to hightlight
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
Labels: Dynamics Adapter

#514 add new queue for jca processing
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchCompleted.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/PersonSearch/PersonSearchCompletedJCA.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
  app/SearchApi/SearchAdapter.Sample/SearchRequest/PersonSearchEventSample.cs
  app/SearchApi/SearchAdapter.Sample/SearchRequest/SearchRequestConsumer.cs
  app/SearchApi/SearchApi.Core.Test/Fake/FakePersonSearchCompletedJCA.cs
  app/SearchApi/SearchApi.Web/Search/PersonEventConsumer.cs
  app/SearchApi/SearchApi.Web/Startup.cs
Labels: Search Api

#513 for moh 3 different dps
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/ProviderProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/InformationSourceType.cs
  app/SearchApi/SearchApi.Web/DeepSearch/Registry.cs
Labels: Dynamics Adapter, Search Api

#515 out of province removed from phone number
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Constants.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#516 Fix/email message, address duplication
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
Labels: Dynamics Adapter

#517 code for delaying in uploading same person
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonFound.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
Labels: Dynamics Adapter

#518 Fix/remove exchange rate
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Pension/SSG_Asset_PensionDisablility.cs
Labels: Dynamics Adapter

#519 fix icbc duplicates
  app/DynamicsAdapter/DynamicsAdapter.Web/Keys.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/Models/PersonFound.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/PersonSearch/PersonSearchController.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Startup.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/appsettings.json
Labels: Dynamics Adapter

#520 fix append notes
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/SearchAgency/AgencyRequestService_Update_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/SearchAgency/AgencyRequestService.cs
Labels: Dynamics Adapter
