Repository bcgov/fams3, pull requests merged in 2021-01, with the labels that each got.

#456 fix the weird bug about unit test-related person.
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfileTest.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#457 change to use ssg_claimtypetext
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
Labels: Dynamics Adapter

#458 deployment config
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
  openshift/templates/applications/deployments/ia-search-web-adapter.yaml
  openshift/templates/applications/routes/ia-search-web-adapter.yaml
  openshift/templates/applications/services/ia-search-web-adapter.yaml
  openshift/templates/builds/builds/ia-search-web-adapter.yaml
  openshift/templates/builds/pipelines/ia-search-web-adapter.yaml
  openshift/templates/config/ia-search-config.yaml
  openshift/templates/config/ia-sftp-config.yaml
  openshift/templates/config/ia-throttle-config.yaml
Labels: DevOps, Dynamics Adapter

#459 update config and add readme
  openshift/README.md
  openshift/templates/builds/builds/ia-search-web-adapter.yaml
  openshift/templates/builds/pipelines/ia-search-web-adapter.yaml
Labels: DevOps

#460 update deploy config
  openshift/templates/applications/deployments/ia-search-web-adapter.yaml
Labels: DevOps

#461 update deploy config
  openshift/templates/builds/pipelines/ia-search-web-adapter.yaml
Labels: DevOps

#462 update deploy config
  openshift/templates/applications/deployments/ia-search-web-adapter.yaml
  openshift/templates/applications/routes/ia-search-web-adapter.yaml
  openshift/templates/applications/services/ia-search-web-adapter.yaml
Labels: DevOps

#463 config update
  openshift/templates/applications/deployments/ia-search-web-adapter.yaml
Labels: DevOps

#464 Fix/fams3 contract and mapping
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics.Test/SearchResponse/SearchResponseServiceTest.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Address/SSG_Address.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Email/SSG_Email.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/InsuranceClaim/SSG_Asset_ICBCClaim.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SSG_SearchRequestResponse.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SocialMedia/SSG_Electronica.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/EmailType.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/SocialMediaType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Email.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employment.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/InsuranceClaim.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Person.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/SocialMedia.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#465 add name to address
  app/DynamicsAdapter/DynamicsAdapter.Web.Test/Mapping/MappingProfile_SearchResponse_Test.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Converters.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Types/LocationType.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Address.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#466 add additional data for SR.
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
Labels: Dynamics Adapter

#467 add toTitleCase to string
  app/SearchApi/BcGov.Fams3.Utils.Test/StringExtensionTest.cs
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/String/StringExtension.cs
Labels: Search Api

#468 fix "mapping for dod confirmed is missing"
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
Labels: Dynamics Adapter

#469 Fix/employment mapping
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/MappingProfile.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/Mapping/Resolvers.cs
  app/DynamicsAdapter/DynamicsAdapter.Web/searchApi.openapi.json
  app/DynamicsAdapter/Fams3Adapter.Dynamics/Employment/SSG_Employment.cs
  app/DynamicsAdapter/Fams3Adapter.Dynamics/SearchResponse/SearchResponseService.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/BcGov.Fams3.SearchApi.Contracts.csproj
  app/SearchApi/BcGov.Fams3.SearchApi.Contracts/Person/Employer.cs
  app/SearchApi/BcGov.Fams3.SearchApi.Core/BcGov.Fams3.SearchApi.Core.csproj
Labels: Dynamics Adapter, Search Api

#470 update util, add toSHA1 static function to string
  app/SearchApi/BcGov.Fams3.Utils.Test/StringExtensionTest.cs
  app/SearchApi/BcGov.Fams3.Utils/BcGov.Fams3.Utils.csproj
  app/SearchApi/BcGov.Fams3.Utils/String/StringExtension.cs
Labels: Search Api
